<div class="message">
  <div class="message-user row">
    <span class="chat-name col-md-6"><%= message.user.full_name %></span>
    <span class="chat-time col-md-6"><%= message.created_at.strftime("%H:%M") %></span>
  </div>
  <div class="message-content row">
    <div class="chat-content">
      <%= message.content %>
    </div>
  </div>
</div>
