<div class="message">
  <div class="message-user row">
    <span class="chat-name col-md-6"><%= message.user.full_name %></span>
    <span class="chat-time col-md-6"><%= message.created_at.strftime("%H:%M") %></span>
  </div>
  <div class="message-content row">
    <p class="chat-content col-md-12">
      <%= message.content %>
    </p>
  </div>
</div>
