<!-- <ul class="list-group">
    <% @industries.each do |industry| %>
        <li class="list-group-item-heading">
            <h4>
                <%= link_to industry.name, hire_industry_path(industry), id: "#{industry.slug}" %>
            </h4>
        </li>
        <% end %>
</ul> -->

<%= react_component 'Browser' %>