<div class="row bid-client">
  <h3>Client Profile</h3>
  <ul class='list-group'>
  <li class='list-group-item'>Requester: <%= @bid.project.requester.full_name %></li>
  <li class='list-group-item'>Zipcode: <%= @bid.project.requester.zipcode %></li>
  <li class='list-group-item'>Phone: <%= @bid.project.requester.phone_number %></li>
  <li class='list-group-item'>Email: <%= @bid.project.requester.email %></li>
  </ul>
</div>
