<div class="row bid-client">
  <h3>Client Profile</h3>
  <%= @bid.project.requester.full_name %>
  <%= @bid.project.requester.zipcode %>
  <%= @bid.project.requester.phone_number %>
  <%= @bid.project.requester.email %>
</div>
