<div class="row bid-pro">
  <h3>Pro Details</h3>
  <ul class='list-group'>
  <li class='list-group-item'>Pro: <%= @bid.pro.full_name %></li>
  <li class='list-group-item'>Zipcode: <%= @bid.pro.zipcode %></li>
  <li class='list-group-item'>Phone: <%= @bid.pro.phone_number %></li>
  <li class='list-group-item'>Email: <%= @bid.pro.email %></li>
  </ul>
</div>
