<div class="container">
  <div class="row">
    <%= link_to "Start A New Project", root_path %>
    <div class="col-md-4">
      <h2>Open Projects</h2>
      <ul class="list-group open">
        <li class="list-group-item">
        </li>
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Accepted Projects</h2>
      <ul class="list-group accepted">
      </ul>
    </div>

    <div class="col-md-4">
      <h2>Completed Projects</h2>
      <ul class="list-group closed">
        <li class="list-group-item">
        </li>
      </ul>
    </div>
  </div>
</div>
<% javascript_include_tag '/user_dashboard' %>