<% @type = @user %>
<% @path = user_path(@user) %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Edit Your Account</h2>
    </div>
  </div>
  <div class="form-signin">
    <%= render "shared/user_form" %>
  </div>
</div>
