<% @type = @user %>
<% @path = register_path %>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2>Create your account</h1>
    </div>
  </div>
  <div class="form-signin">
    <%= render "shared/user_form" %>
  </div>
  <div class="row text-center or">
    <p>or</p>
  </div>
  <div class="row text-center">
    <div class="facebook-login">
      <%= button_to facebook_login_path, :method => "get", class: "facebook-button" do %>
        <i class="fa fa-facebook"></i> | Sign up with Facebook
      <% end %>
    </div>
  </div>
</div>

