<% if @project.review.present? %>
  <span class="star-rated"><%= @project.review.star_rated %></span><span class="star-denied"><%= @project.review.star_denied %></span>
  <h4>Comment:</h4>
  <p><%= @project.review.comment %></p>
<% end %>