h3 {
    text-align: center;
    margin-top: 5%;
}

.icon {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    margin-top: 15px;
    align-items: center;
    width: 100px;
    height: 100px;
}

.icon-label {
    display: none;
    width: 90px;
    height: 20px;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
}

span {
    margin: 10px auto;
    text-align: center;
    display: block
}

a {
    text-align: center;
    display: block;
}

.results-heading {
    margin-top: 10px
}

.results {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.results a {
    text-decoration: none;
}

.result {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px 5px;
    width: 300px;
}