.closed-project,
.accepted-project,
.open-project a {
    text-decoration: none;
    text-align: left;
}

.open-project, .accepted-project, .closed-project {
		li {
			color: gray;
		}
    .btn-primary {
			display: inline;
			margin-right: 1%;
			float: right;
    }

		.btn-warning {
			display: inline;
    }

    .list-group-item {
      overflow: hidden;
  	}

		.accepted-buttons {
			white-space: nowrap;
		}

		.project-label {
			color: black;
			display: inline;
			white-space: nowrap;
			
		}
}